
@{
    ViewBag.Title = "TableLayout";
}

<h2>TableLayout</h2>

<table>
    @{
        for (int i = 0; i < 3; i++)
        {

            <tr>
                <td>
                    <img src="~/Content/Images/table.png" alt="img" width="200" height="200"/>
                </td>
            </tr>
        }
    }
</table>
